<div class="wrapper">
  <div class="reservation-new">
    <div class="reservation-new-inner">
      <h2>予約内容確認</h2>
      <%= form_with model: @reservation do |f| %>
        <div class="form-group">
          <%= @reservation.fromDate %>
        </div>
        <div class="form-group">
          <%= @reservation.toDate %>
        </div>
        <p class='room-date'>使用日数：<%= (@reservation.to_date - @reservation.from_date).numerator %>日</p>

        <p class='room-people'>人数：<%= @reservation.numberOfGuests] %>人</p>
        <div class="form-group">
          <%= @reservation.numberOfGuests * @reservation.room.price %>
        </div>

        <p class='confirmation'>上記内容でよろしければ「予約確定」を押してください</p>
        <div class='check'>
          <%= f.submit '予約を確定', class: 'btn btn-primary btn-block text-center' %>
          <%= link_to 'キャンセル', room_path(@room.id), class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
