<div class="wrapper">
  <div class="reservation-new">
    <div class="reservation-new-inner">
      <h2>予約内容確認</h2>
      <p class='room-price'>¥<%= @room.price %>/日</p>

      <%= form_with model: [@room, @reservation], url: room_reservations_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label '開始日' %>
          <%= f.date_field :fromDate, class: 'form-control', readonly: true, value: params[:fromDate] %>
        </div>
        <div class="form-group">
          <%= f.label '終了日' %>
          <%= f.date_field :toDate, class: 'form-control', readonly: true, value: params[:toDate] %>
        </div>
        
        <%# 文字列からdate型に変換後、date型は普通に計算式でOK 有理数が返るからnumeratorメソッド %>
        <p class='room-date'>使用日数：<%= (params[:toDate].to_date - params[:fromDate].to_date).numerator %>日</p>

        <p class='room-people'>人数：<%= params[:numberOfGuests] %>人</p>
        <div class="form-group">
          <%= f.label '合計金額' %>
          <%= f.number_field :totalAmountOfPrice, class: 'form-control', readonly: true, value: params[:numberOfGuests].to_i * @room.price %>
        </div>

        <p class='confirmation'>上記内容でよろしければ「予約確定」を押してください</p>

        <div class='check'>
          <%= f.submit '予約を確定', class: 'btn btn-primary btn-block text-center' %>
          <%= link_to 'ルーム詳細に戻る', room_path(@room.id), class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
