<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>ReasevationApp</h1>
      <% if user_signed_in? %>
        <% if current_user.image? %>
          <%= image_tag current_user.image.url %>
        <% else %>
          <%= image_tag 'noicon.png' %>
        <% end %>
        <%= link_to "施設の新規登録", new_room_path %>
        <%= link_to "予約済み一覧", reservations_path %>
        <%= link_to "登録済み一覧", own_rooms_path %>
        <%= link_to "アカウント設定", account_user_path(current_user.id) %>
        <%= link_to "ログアウト", destroy_user_session_path %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      <% end %>
    </header>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
